<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">description</th>
      <th scope="col">user</th>
    </tr>
  </thead>
  <tbody>
    <%= render @journals %>
  </tbody>
</table>
